<!DOCTYPE html>
<html lang="zxx">
{% include "common/head.html" %}
    <body class="uni-body panel bg-white text-gray-900 dark:bg-black dark:text-gray-200 overflow-x-hidden ">
        <div id="wrapper" class="wrap overflow-x-hidden">
            <!-- Section start -->
            <div id="sign-in" class="sign-in section panel overflow-hidden">
                <div class="section-outer panel">
                    <div class="section-inner panel">
                        <div class="row child-cols-12 lg:child-cols-6 g-0" data-uc-grid>
                            <div class="d-none lg:d-block">
                                <figure class="panel h-100 m-0 bg-gray-25 dark:bg-gray-900 bg-gray-25 dark:bg-gray-800">
                                    <canvas class="h-100 w-100"></canvas>
                                    <img class="media-cover image" src="../assets/images/common/img-fallback.png" data-src="{{MEDIA_URL}}assets/images/demo-three/common/my-account.jpg" alt="My account" data-uc-img="loading: lazy">
                                </figure>
                            </div>
                            <div>
                                <div class="panel vstack md:items-center justify-center h-screen overflow-hidden">
                                    <div data-anime="targets: >*; translateY: [-24, 0]; opacity: [0, 1]; easing: easeInOutCubic; duration: 750; delay: anime.stagger(100);">
                                        <div class="uc-logo cstack mx-auto mb-6 lg:mb-8">
                                            <a href="index-2.html">
                                                <img class="w-100px lg:w-128px text-dark dark:text-white hover:text-primary transition-color duration-150 d-none dark:d-block" src="https://html.themewant.com/news5/assets/images/demo-three/common/logo-dark.svg" alt="Sign in">
                                                <img class="w-100px lg:w-128px text-dark dark:text-white hover:text-primary transition-color duration-150 d-block dark:d-none" src="https://html.themewant.com/news5/assets/images/demo-three/common/logo-light.svg" alt="Sign in">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel py-4 px-2">
                                        <div class="panel vstack gap-3 w-100 sm:w-350px mx-auto text-center" data-anime="targets: >*; translateY: [24, 0]; opacity: [0, 1]; easing: easeInOutExpo; duration: 750; delay: anime.stagger(100);">
                                            <h1 class="h4 sm:h3">Sign in</h1>
                                            <div class="hstack gap-2">
                                                <a href="#google" class="btn btn-sm btn-alt-danger w-100 rounded bg-gray-50 dark:bg-gray-800 text-dark dark:text-white">
                                                    <i class="icon icon-1 unicon-logo-google"></i>
                                                </a>
                                                <a href="#facebook" class="btn btn-sm btn-alt-blue-700 w-100 rounded bg-gray-50 dark:bg-gray-800 text-dark dark:text-white">
                                                    <i class="icon icon-1 unicon-logo-facebook"></i>
                                                </a>
                                                <a href="#github" class="btn btn-sm btn-alt-dark w-100 rounded bg-gray-50 dark:bg-gray-800 text-dark dark:text-white">
                                                    <i class="icon icon-1 unicon-logo-github"></i>
                                                </a>
                                            </div>
                                            <div class="panel h-24px">
                                                <hr class="position-absolute top-50 start-50 translate-middle hr m-0 w-100 dark:opacity-30">
                                                <span class="position-absolute top-50 start-50 translate-middle px-1 fs-7 fw-medium text-uppercase bg-white dark:bg-black">Or</span>
                                            </div>
                                            {% include "common/message.html" %}
                                            <form class="vstack gap-2" method="post">
                                                {% csrf_token %}
                                                <input class="form-control form-control-sm h-40px w-full fs-6 bg-white dark:bg-opacity-0 dark:text-white dark:border-gray-300 dark:border-opacity-30"  name="username" type="text" placeholder="Your username" required>

                                                <input class="form-control form-control-sm h-40px w-full fs-6 bg-white dark:bg-opacity-0 dark:text-white dark:border-gray-300 dark:border-opacity-30"  name="email" type="email" placeholder="Your email" required>

                                                <input class="form-control form-control-sm h-40px w-full fs-6 bg-white dark:bg-opacity-0 dark:text-white dark:border-gray-300 dark:border-opacity-30" name="password1" type="password" placeholder="Password" autocomplete="new-password" required>

                                                <input class="form-control form-control-sm h-40px w-full fs-6 bg-white dark:bg-opacity-0 dark:text-white dark:border-gray-300 dark:border-opacity-30" name="password2" type="password" placeholder="Confirm Password" autocomplete="new-password" required>
                                                
                                                <div class="hstack text-start">
                                                    <div class="form-check text-start">
                                                        <input id="form_accept_terms" class="form-check-input rounded bg-white dark:bg-opacity-0 dark:text-white dark:border-gray-300 dark:border-opacity-30" type="checkbox" required>
                                                        <label for="form_accept_terms" class="hstack justify-between form-check-label fs-6">I read and accept the <a href="page-terms.html" class="uc-link ms-narrow">terms of use</a>. </label>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary btn-sm mt-1" type="submit">Create my account</button>
                                            </form>
                                            <p>Already have an account? <a class="uc-link" href="{% url 'login' %}">Sign In</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section end -->
        </div>
{% include "common/footer_script.html" %}
    </body>

<!-- Mirrored from html.themewant.com/news5/demo-three/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 Nov 2024 06:27:02 GMT -->
</html>

