<div class="breadcrumbs panel z-1 py-2 bg-gray-25 dark:bg-gray-100 dark:bg-opacity-5 dark:text-white">
    <div class="container max-w-xl">
        <ul class="breadcrumb nav-x justify-center gap-1 fs-7 sm:fs-6 m-0">
            <li><a href="/">Home</a></li>
            {% comment %} {% for part in breadcrumb_parts %}
                <li class="breadcrumb-item">
                    <a href="{{ breadcrumb_parts|slice:":forloop.counter" }}">{{ part }}</a>
                </li>
            {% endfor %} {% endcomment %}
            <li class="breadcrumb-item active" aria-current="page">
                {{ current_url }}
            </li>
            {% comment %} <li><i class="unicon-chevron-right opacity-50"></i></li>
            <li><a href="blog.html">Blog</a></li>
            <li><i class="unicon-chevron-right opacity-50"></i></li>
            <li><span class="opacity-50">Strategy</span></li> {% endcomment %}
        </ul>
    </div>
</div>