<footer id="uc-footer" class="uc-footer panel uc-dark">
    <div class="footer-outer py-4 lg:py-6 xl:py-9 bg-white dark:bg-gray-900 dark:text-white">
        <div class="container max-w-xl">
            <div class="footer-inner vstack gap-4 lg:gap-6 xl:gap-9">
                <div class="uc-footer-top">
                    <div class="row child-cols col-match gx-4 gy-6">
                        <div class="col d-none lg:d-block">
                            <div class="widget links-widget vstack gap-3">
                                <div class="widgt-title">
                                    <h4 class="fs-7 fw-medium text-uppercase m-0 text-dark dark:text-white text-opacity-50">Latest topics</h4>
                                </div>
                                <div class="widgt-content">
                                    <ul class="nav-y gap-2 fs-6 fw-medium text-dark dark:text-white">
                                        <li><a href="blog-category.html">Startups and technology</a></li>
                                        <li><a href="blog-category.html">Data and security</a></li>
                                        <li><a href="blog-category.html">Fintech and ecommerce</a></li>
                                        <li><a href="blog-category.html">Investors and funding</a></li>
                                        <li><a href="blog-category.html">Corporates and innovation</a></li>
                                        <li><a href="blog-category.html">Government and policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 md:col">
                            <div class="widget links-widget vstack gap-3">
                                <div class="widgt-title">
                                    <h4 class="fs-7 fw-medium text-uppercase m-0 text-dark dark:text-white text-opacity-50">The News</h4>
                                </div>
                                <div class="widgt-content">
                                    <ul class="nav-y gap-2 fs-6 fw-medium text-dark dark:text-white">
                                        <li><a href="blog-category.html">Media</a></li>
                                        <li><a href="blog-category.html">Events</a></li>
                                        <li><a href="blog-category.html">Partner with us</a></li>
                                        <li><a href="blog-category.html">Jobs</a></li>
                                        <li><a href="blog-category.html">Masthead</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 md:col">
                            <div class="widget links-widget vstack gap-3">
                                <div class="widgt-title">
                                    <h4 class="fs-7 fw-medium text-uppercase m-0 text-dark dark:text-white text-opacity-50">About</h4>
                                </div>
                                <div class="widgt-content">
                                    <ul class="nav-y gap-2 fs-6 fw-medium text-dark dark:text-white">
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Career</a></li>
                                        <li><a href="sign-in.html">Log in</a></li>
                                        <li><a href="sign-up.html">Create an account</a></li>
                                        <li><a href="#">Sitemap</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 md:col-5">
                            <div class="widget newsletter-widget vstack gap-3">
                                <div class="widgt-title">
                                    <h4 class="h4 lg:h3 lg:-ls-2 m-0">Keep up to date with the latest updates & news</h4>
                                </div>
                                <div class="widgt-content">
                                    <form class="hstack">
                                        <input class="form-control form-control-sm fs-6 fw-medium h-40px rounded-end-0 bg-white dark:bg-gray-800 dark:bg-gray-800 dark:border-white dark:border-opacity-15 dark:border-opacity-15" type="email" placeholder="Your email" required="">
                                        <button class="btn btn-sm btn-primary rounded-start-0 min-w-100px" type="submit">Sign up</button>
                                    </form>
                                    <p class="fs-7 fw-medium text-dark dark:text-white text-opacity-50 mt-2">By pressing the Subscribe button, you confirm that you have read and are agreeing to our <a href="page-privacy.html" class="uc-link dark:text-white">Privacy Policy</a> and <a href="page-terms.html" class="uc-link dark:text-white">Terms of Use</a></p>
                                    <ul class="footer-social nav-x gap-2 mt-2 lg:mt-4">
                                        <li>
                                            <a class="hover:text-gray-900 dark:hover:text-white duration-150" href="#fb"><i class="icon icon-2 unicon-logo-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a class="hover:text-gray-900 dark:hover:text-white duration-150" href="#x"><i class="icon icon-2 unicon-logo-x-filled"></i></a>
                                        </li>
                                        <li>
                                            <a class="hover:text-gray-900 dark:hover:text-white duration-150" href="#in"><i class="icon icon-2 unicon-logo-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a class="hover:text-gray-900 dark:hover:text-white duration-150" href="#yt"><i class="icon icon-2 unicon-logo-youtube"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-0">
                <div class="uc-footer-bottom panel vstack lg:hstack gap-4 justify-between fs-7 text-center lg:text-start">
                    <div class="vstack lg:hstack gap-2">
                        <div class="footer-logo text-center">
                            <img class="uc-logo w-100px text-gray-900 dark:text-white" src="https://html.themewant.com/news5/assets/images/demo-three/common/logo.svg" alt="News5" data-uc-svg>
                        </div>
                        <div class="vr mx-2 d-none lg:d-inline-flex"></div>
                        <p class="footer-copyrights">News5 © 2024, All rights reserved.</p>
                        <ul class="footer-site-links nav-x gap-2 fw-medium justify-center lg:justify-start">
                            <li><a class="uc-link text-underline hover:text-gray-900 dark:hover:text-white duration-150" href="page-privacy.html">Privacy notice</a></li>
                            <li><a class="uc-link text-underline hover:text-gray-900 dark:hover:text-white duration-150" href="page-terms.html">Terms of condition</a></li>
                            <li><a class="uc-link text-underline hover:text-gray-900 dark:hover:text-white duration-150" href="page-faq.html">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="panel hstack justify-center gap-2 lg:gap-3">
                        <div class="footer-lang d-inline-block">
                            <a href="#" class="hstack gap-1 text-none fw-medium">
                                <i class="icon icon-1 unicon-earth-filled"></i>
                                <span>English</span>
                                <span data-uc-drop-parent-icon=""></span>
                            </a>
                            <div class="p-2 bg-white dark:bg-gray-800 shadow-xs rounded w-150px" data-uc-drop="mode: click; boundary: !.uc-footer-bottom; animation: uc-animation-slide-top-small; duration: 150;">
                                <ul class="nav-y gap-1 fw-medium items-end">
                                    <li><a href="#en">English</a></li>
                                    <li><a href="#ar">العربية</a></li>
                                    <li><a href="#ch">中文</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>